@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Trocchi&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background: #FAF5EC;
    --primary-color: #ED6A58;
    --secondary-color: #A1D0B7;
}
body{
    font-family: "Roboto", sans-serif;
    background: var(--background);
}
h1,
h2,
h3,
h4,
h5,
h6{font-family: "Trocchi", serif;}